---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "date1",
    title: "Full-Stack Developer",
    company: "José Guma SA",
    description: "exdescription1",
    link: "https://joseguma.com/",
  },
  {
    date: "date2",
    title: "Data Anylisis Bootcamp",
    company: "Jupi Digital",
    description: "exdescription2",
    link: "https://www.jupidigital.com/",
  },
  {
    date: "date3",
    title: "Programming Bootcamp",
    company: "Hotaka iKhodi",
    description: "exdescription3",
    link: "https://www.hotaka.io/",
  },
  {
    date: "date4",
    title: "Freelance E-commerce",
    company: "Freelancer",
    description: "exdescription4",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
