---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "August 2023 - Present",
    title: "Full-Stack Developer",
    company: "José Guma SA",
    description:
      "Undertaking an internship in the Systems Area of the company. Working with .NET, C#, SQL/NoSQL,Angular and Python. I’m involved in application development and database management, collaborating on process optimization and technical issue resolution.",
    link: "https://joseguma.com/",
  },
  {
    date: "April 2024 - Present",
    title: "Programming Bootcamp",
    company: "Hotaka iKhodi",
    description:
      "Currently attending the Programming Bootcamp at Hotaka Ikhodi, focusing on advanced software architectures and development methodologies. The course covers SOA, DDD, CQRS, SOLID principles, IoC, Event Sourcing, unit testing, TDD, BDD, and CI, providing practical skills and best practices for robust software development. We have been working with Spring Boot, Java, Kotlin, and Vue.js.",
    link: "https://www.hotaka.io/",
  },
  {
    date: "February 2023 - August 2023",
    title: "Freelance E-commerce",
    company: "Freelancer",
    description:
      "Designed and developed an online store for a chocolate shop, optimizing user experience and enhancing purchase functionality",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
