---
const personalImageAlt = "Pablo Monticoli";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/Linkedin.astro";
import MailIcon from "../icons/Mail.astro";
import SocialMedia from "../components/SocialMedia.astro";
import GitHub from "../icons/GitHub.astro";
import Upload from "../icons/Upload.astro";

const heroItems = [
  {
    key: "helloMessage",
  },
  {
    key: "experienceMessage",
  },
  {
    key: "roleDescription",
  },
  {
    key: "fromLocation",
  },
  {
    key: "specializedMessage",
  },
  {
    key: "mailText",
  },
];
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/avatar.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/pablo-javier-mont%C3%ADcoli-b69733248/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge> Working at Hotaka iKhodi </Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-400 sm:text-5xl dark:text-white"
    aria-label="helloMessage"
  >
    {heroItems.find((item) => item.key === "helloMessage")?.key}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold text-white dark:text-gray-400"
  >
    <span aria-label="experienceMessage">
      {heroItems.find((item) => item.key === "experienceMessage")?.key}
    </span>
    <strong class="notranslate" aria-label="roleDescription">
      {heroItems.find((item) => item.key === "roleDescription")?.key}
    </strong>
    <span aria-label="fromLocation">
      {heroItems.find((item) => item.key === "fromLocation")?.key} 🇦🇷
    </span>
    <span aria-label="specializedMessage">
      {heroItems.find((item) => item.key === "specializedMessage")?.key}
    </span>
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialMedia href="https://github.com/PJMonticoli">
      <GitHub class="size-4" />
      GitHub
    </SocialMedia>
    <SocialMedia
      href="https://www.linkedin.com/in/pablo-javier-mont%C3%ADcoli-b69733248/"
    >
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialMedia>
    <SocialMedia href="mailto:pablo_monticoli@hotmail.com">
      <MailIcon class="size-4" />
      <span aria-label="mailText">
        {heroItems.find((item) => item.key === "mailText")?.key}
      </span>
    </SocialMedia>
    <SocialMedia
      href="/MonticoliPabloResume.pdf"
      download="MonticoliPabloResume.pdf"
    >
      <Upload class="size-4" />
      Cv
    </SocialMedia>
  </nav>
</div>

<script>
  interface Translations {
    [key: string]: string;
  }

  const translations: { [key: string]: Promise<Translations> } = {
    en: fetch("/locales/en/translation.json").then((response) =>
      response.json()
    ),
    es: fetch("/locales/es/translation.json").then((response) =>
      response.json()
    ),
  };

  function loadLanguage(lang: string) {
    translations[lang].then((translations: Translations) => {
      document.querySelectorAll("[aria-label]").forEach((el) => {
        const key = (el as HTMLElement).getAttribute("aria-label");
        if (key) {
          (el as HTMLElement).textContent = translations[key] || key;
        }
      });
    });
  }

  function handleLanguageChange(event: Event) {
    const target = event.target as HTMLInputElement;
    const isChecked = target.checked;
    const lang = isChecked ? "es" : "en";
    localStorage.setItem("language", lang);
    loadLanguage(lang);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const savedLang = localStorage.getItem("language") || "en";
    const switchElement = document.getElementById(
      "languageSwitch"
    ) as HTMLInputElement;
    if (switchElement) {
      switchElement.checked = savedLang === "es";
      loadLanguage(savedLang);
    }
    switchElement?.addEventListener("change", handleLanguageChange);
  });
</script>
